/* basic reset */
*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	font-family: 'Poppins', sans-serif;
}

body {
	background-color: black;
}

#title {
	display: flex;
	height: 10vh;
	width: 100vw;
	text-align: center;
	justify-content: center;
	align-items: center;
}

#title h1 {
	color: white;
	font-size: 8vh;
}

.container {
	height: 90vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	background-color: #ffffff0f;
}

#inputContainer,
#outputContainer {
	height: 100%;
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

#input,
#output {
	height: 75%;
	width: 90%;
	background-color: #ffffff20;
	border: 2px solid #4e006167;
	border-radius: 0.75vh;
	resize: none;
	white-space: nowrap;
	padding: 1vh;
	color: #cc00ff;
	font-size: 2vh;
}

#input:focus,
#output:focus {
	outline: 4px solid #4e0061;
}

.btn {
	height: 5%;
	width: 40%;
	border: 1px solid #4e006167;
	background-color: #cc00ff67;
	border-radius: 100px;
}
